# Operating system files and folders
[Tt]humbs.db
*.DS_Store

# Visual Studio files and folders
*.suo
*.user
*.userosscache
*.sln.docstates
*.sln.ide/
.vs
**/.vs/

# Build / binary files
**/[Dd]ebug/
**/[Dd]ebugPublic/
**/[Rr]elease/
**/[Rr]eleases/
**/x64/
**/x86/
**/build/
**/bld/
**/[Bb]in/
**/[Oo]bj/
**/[Ll]og/

# Package files
**/*.nupkg
# Avoid including NuGet packages in version control
**/[Pp]ackages/*
# Exclude the NuGet cache folder
**/.nuget/packages/
# Exclude all files in the NuGet packages folder
**/*.[Pp]ackages.*
# Exclude the file that stores the list of recent packages
**/.packages

# Others
sql/
*.Cache
ClientBin/
[Ss]tyle[Cc]op.*
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.pfx
*.publishsettings
node_modules/
orleans.codegen.cs

# Ignore the application configuration file if it contains secrets. Ignore it in all the possible paths
*/appsettings.Development.json
*/appsettings.Production.json
*/appsettings.Staging.json
*/appsettings.Local.json
*/appsettings.test.json
**/appsettings.json
